html {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
}

.form {
  margin: auto;
}
input[type="text"],
button,
.size {
  width: 100%;
  margin: 8px auto;
  padding: 16px;
  border-radius: 15px;
}
#error {
  display: none;
  color: #b30000;
  text-align: center;
}
button {
  font-size: larger;
}
.qr-container {
  justify-content: center;
  text-align: center;
  margin: auto;
}
.processing {
  height: 250px;
  width: 250px;
  text-align: center;
  margin: auto;
  justify-content: center;
}
#successMessage {
  text-align: center;
  font-size: 30px;
  padding: 8px;
}
img {
  margin: 50px auto;
}
.copy-button {
  width: fit-content;
  padding: 16px;
  margin: 16px auto;
  font-size: larger;
  border: 1px solid black;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
footer {
  margin-top: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 6px;
  text-align: center;
}
.copy {
  float: left;
}
.socials {
  float: right;
  margin-right: 6px;
}
i {
  padding: 4px;
}
