html {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
}

.form {
  width: 75%;
  margin: auto;
}
input[type="text"],
button,
.size {
  width: 100%;
  margin: 8px auto;
  padding: 16px;
  border-radius: 15px;
}
#error {
  display: none;
  color: #b30000;
  text-align: center;
}
button {
  font-size: larger;
}
.qr-container {
  width: 500px;
  height: 300px;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
}
#successMessage {
  text-align: center;
  font-size: 30px;
  padding: 8px;
}
img {
  margin: 50px auto;
}
.copy-button {
  width: fit-content;
}
a {
  text-decoration: none;
}
footer {
  position: sticky;
  bottom: 0;
}
